{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block nav %}

<br>
Останні результати пошуку:
<ul>
    {% for element in kysok_search_rezult %}
        <li><a href="{% url 'wiki:wpages' element %}">{{ element }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block body %}
    
    {{ rezsearch|safe }}
    <ul>
        {% for element in kysok_search_rezult %}
            <li><a href="{% url 'wiki:wpages' element %}">{{ element }}</a></li>
        {% endfor %}
    </ul>
    <h1>{{ Sorry }}</h1>


{% endblock %}